
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: var(--background);
}

h1, h2, h3 {
  font-family: 'montserrat', serif;
}
p{
  font-family: 'roboto', sans-serif
}

button {
  font-family: 'Poppins', sans-serif;
}
